<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="platinum.whatstheplan">

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.PartyVenuesActivity"></activity>
        <activity android:name=".activities.FoodsDrinksVenuesActivity"></activity>
        <activity android:name=".activities.EventsVenuesSelecterActivity" />
        <activity
            android:name=".activities.LandActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.EventsActivity" />
        <activity android:name=".activities.AddEventActivity" />
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.MapActivity" />
        <activity android:name=".activities.authentications.SignUpActivity" />
        <activity android:name=".activities.authentications.SignInActivity" />
        <activity android:name=".activities.authentications.NameSubmitActivity" />
        <activity
            android:name=".activities.FoodsDrinksActivity" />
        <activity
            android:name=".activities.RestaurantsActivity2" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".activities.FoodListActivity" />
        <activity android:name=".activities.authentications.PasswordResetActivity" />
        <activity android:name=".activities.PartyEventsActivity" />
        <activity android:name=".activities.SportsActivity" />
        <activity android:name=".activities.OpenEventsActivity" />
    </application>

</manifest>